:host {
  display: block;
}

.container {
  font-family: Manrope, sans-serif;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  border-style: solid;
  border-color: #eae7e4;
  border-width: 1px;
  padding: 14px;
  max-width: 400px;
  color: #17120f;
  font-size: 14px;
  line-height: 20px;
  min-width: 250px;
}

.text-wrapper {
  margin-left: 14px;
}

.link {
  color: #17120f;
  font-size: 14px;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}
